apiVersion: apps/v1
kind: Deployment
metadata:
  name: safe-route-backend
  namespace: safe-route
spec:
  replicas: 1
  selector:
    matchLabels:
      app: safe-route-backend
  template:
    metadata:
      labels:
        app: safe-route-backend
    spec:
      containers:
        - name: backend
          # Replace this image with your backend image
          image: vijayreddygoli811/saferoute-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: POSTGRES_HOST
              value: postgres-svc
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: REDIS_HOST
              value: redis-svc
            - name: REDIS_PORT
              value: "6379"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: safe-route
spec:
  selector:
    app: safe-route-backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
